body {
    padding: 0;
    margin: 0;

    height: 100vh;

    background: #121212; 
}

nav {
    background: #222;
    box-shadow: 7px 0 10px #222;

    width: 20%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    float: left;

    position: relative;
    left: 0;
    top: 0;
}

header {
    padding: 30px 0 30px 30px;
    height: 10%;
}

section {
    padding: 0 50px 20px 50px;

    max-height: 90%;
    overflow: scroll;
}

header, section {   
    margin-left: 20%;
}

h2, h3 {
    margin: 0;
    padding: 11px 10px 11px 5px;

    text-align: right;
    cursor: pointer;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h1, h2, h3, li {
    color: #FFFFFFDE
}

ul {
    display: none;
    flex-direction: column;
    justify-content: center;

    float: left;

    list-style-type: none;

    margin: 0;
    padding: 0;
    height: 100%;

    position: absolute;
    top: 0px;
    left: 0px;
}

a {
    text-decoration: none;
}

article.cascade > ul {
    width: 100%;
    background: #2C2C2C;
}

article.cascade:hover > ul {
    display: flex;
    left: 100%;
}

article.cascade:hover > h2 {
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
}

li.cascade > ul {
    width: 100%;
    background: #323232;
}

li.cascade:hover > ul {
    display: flex;
    left: 100%;
}

li.cascade:hover > h3 {
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
}

nav a li {
    margin: 3px 0;
    padding: 0 10px 0 5px;

    transition: padding 0.5s;
}

nav a li:hover {
    padding: 0 5px 0 10px;;
}

.link_box {
    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;
    color: rgba(100, 100, 100, 0.5);

    padding: 10px 20px;
    margin: 10px 0px;

    border-radius: 20px;
    box-shadow: 3px 3px 3px #727272;

    transition: color 500ms;
}

.link_box:hover {
    color: rgba(100, 100, 100, 0.8);
}